[core]
    pager = delta
    ignorecase = false

[interactive]
    diffFilter = delta --color-only

[pull]
    rebase = true

[merge]
    conflictstyle = zdiff3

[alias]
    a = add
    aa = add --all
    ap = add -p
    b = branch
    br = branch
    c = commit
    cl = clone
    cm = commit -S -m
    cma = commit --amend
    co = checkout
    com = checkout master
    d = diff
    dc = diff --cached
    h = !giturl -o
    l = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    mm = merge master
    nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
    pl = pull
    ps = push
    psf = push --force-with-lease
    psci = push -o ci.skip
    psmr = !git push && glab mr create --fill --remove-source-branch -y
    s = show
    sm = submodule
    sh = stash
    smu = !git submodule status | awk '{print $2}' | xargs -P10 -n1 git submodule update --init --remote
    st = status --short
    up = pull --rebase

[branch]
  sort = -committerdate

[push]
    autoSetupRemote = true

[help]
    autocorrect = 1

[tag]
    sort = v:refname

[includeIf "gitdir:~/Documents/perso/git/"]
    path = ~/.gitconfig_perso

[includeIf "gitdir:~/Documents/work/git/"]
    path = ~/.gitconfig_work

[gpg]
    format = ssh
[user]
    signingkey = /Users/jeremy/.ssh/signing_gitlab
